body{
        
        background-image: url("../assets/images/N64_logo.png");
        background-attachment: fixed;
        background-color: green;
      
}
h1,h2,h3{
    font-family: nintendo_font;
    src: url(/assets/font/nintendo_ds_bios/Nintendo-DS-BIOS.ttf);
}