body{
        
    background-image: url("../assets/images/super-nintendo-logo.png");
    background-attachment:fixed;
    background-size: 600px;
}
h1,h2,h3{
    font-family: nintendo_font;
    src: url(/assets/font/nintendo_ds_bios/Nintendo-DS-BIOS.ttf);
}
.model {
    display: inline-block;
    width: 250px;
    padding: 0px 15px;
    margin-top: 5px;
    margin-bottom: 50px;
 vertical-align: top;
}